:root {
    --var-white-color: #fff;
    --var-violate-color: #F8F9FF
}

body{
    font-weight: 400;
    background-color: var(--var-violate-color);
}
.container {
    margin: 0 auto; 
    max-width: 62.5rem;
    padding: 0 4rem;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.icon{
    font-size: 2.3rem;
    font-weight: 700;
}
.header {
    margin-top: 2rem;
}

.task-title{
    font-size: 1.5rem;
    font-weight: 700;
}

button{
    border-radius: 0.2rem;
    border: 0.1rem solid rgb(226, 226, 226);
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

.create-button{
    background-color:#7A8DFD;
    color: var(--var-white-color);
}

ul{
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
}

li{
    border: 0.1rem solid #c5c5c9;
    padding: 0.2rem;
    margin: 0.2rem 0rem;
    max-width: 29%;
    width: 100%;
    display: block;
    font-size: 1.5rem;
}

.tasks{
    list-style-type: none;
    padding: 0.5rem 0rem;
}

textarea{
    width: 100%;
    padding: 0.2rem 0.2rem;
}

.add-button{
    font-size: 1rem;
    margin: 0.2rem 0rem;
}
